html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
	align-items: center;
	background-color: #ABADAD;
  font-family: 'Open Sans', sans-serif;
}

main {
	width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ABADAD;
	/*padding-bottom: 10px;*/
}

.logo-div {
  background-color: #001827;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  padding: 15px;
	margin-left: -40px;
  letter-spacing: -1px;
	display: flex;
	align-items: center;
	align-self: center;
}

.logo-div img {
	height: 70px;
	width: auto;
	padding-right: 5px;
}

.command {
  padding: 20px;
  margin: 10px 10px 0px 10px;
  background-color: white;
  border-radius: 7px;
	display: flex;
}

.form {
	align-items: center;
	justify-content: center;
}

.command h3 {
  font-weight: 700;
  padding-bottom: 10px;
	font-size: 25px;
}

.words-module {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.add-button {
	margin: 10px 10px 0px 10px;
	height: 35px;
	width: 35px;
	background-color: white;
	border-radius: 7px;
	border: none;
	cursor: pointer;
}

.add-button:hover {
	color: #86FFC6;
}

.button-module {
	flex: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.logout {
  cursor: pointer;
}

.spacer {
	height: 40px;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
	background-color: #001827;
}

footer {
  background-color: #001827;
  color: white;
	padding: 20px 0;
  text-align: center;
	width: 100vw;
}

nav {
  background-color: white;
  text-align: center;
  border-bottom: 10px solid #001827;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  padding: 10px 5px;
  background-color: white;
  border: 3px solid white;
}

li:hover {
  border-bottom: 3px solid #86FFC6;
}

.cursor {
	cursor: pointer;
}

.icon-module {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

/* Below code influenced by fhttps://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}

.switch button {
	display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
  transition: .2s;
	border-radius: 6px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .2s;
	border-radius: 20%;
}

.enabled + .slider {
  background-color: #86FFC6;
}

.enabled + .slider {
  box-shadow: 0 0 1px #86FFC6;
}

.enabled + .slider:before {
  transform: translateX(22px);
}

.about {
	background-color: #001827;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	/*padding: 55px;*/
	margin: 0 auto;
	letter-spacing: -1px;
	display: flex;
	/*margin-top: -25px;*/
	/*height: available;*/
	flex: 1;
	width: 100%;
	justify-content: center;
}

h5:hover {
	color:  #86FFC6;
}

.about img {
	height: 100px;
	width: auto;
	/*float: left;*/
	padding: 10px 10px 10px 0;
	/*margin-left: 10px;*/
	border-radius: 25px;
}

.about h4 {
	font-size: 35px;
	/*padding-top: 50px;
	padding-bottom: 50px*/
}

.about-body {
	padding: 40px;
	width: 100%;
}

.person-container {
	display: flex;
	align-items: center;
}

 .about h2 {
	font-size: 28px;
	margin-bottom: 20px;
}

.about i {
	padding: 5px;
}

input {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 15px;
	background-color: white;
  color: black;
  border: 2px solid #001827;
	/*visibility: hidden;*/
	/*display: none;*/
}

input[type=text]:hover, input[type=text]:focus {
	border-color: lightgrey;
}

.form [type='submit'] {
	width: 100px;
	/*display: flex;*/
	position: center;
	text-align: center;
	cursor: pointer;
}

.home_heading{
  color:#86FFC6;
}

.aoa_digital:hover {
  color:#86FFC6;
  transition: .8s;
}

.account-container {
	display: flex;
	flex-direction: column;
	background: white;
	justify-content: center;
	padding: 30px;
}

.account-container h3 {
	font-size: 40px;
	font-family: 'Montserrat';
}

i:hover {
	color: #86FFC6;
}

.docs-container {
	background: white;
	padding: 35px;
}

.docs-container h3 {
	font-weight: 700;
	font-size: 45px;
	margin: 0 0 10px 0;
	letter-spacing: -2px;
}

.docs-container p {
	margin-top: 1em;
	margin-bottom: 1em;
}

code {
	background-color: #001827;
	display: inline-block;
	color: white;
	padding: 8px;
	border-radius: 4px;
	font-family: 'Roboto Mono', monospace;
	margin-left: 20px;
	margin-bottom: 1em;
}

.docs-unit {
	margin-bottom: 40px;
}

.example-command {
	width: 65%;
	height: auto;
	border-radius: 8px;
  
.hidden {
	display: none;
}

/*Home page styling */
.home {
  background-color: #001827;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home ul {
  margin-bottom: 10px;
}

.home h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: auto;
  align-content: center;
}

#lionbot_logo {
  background-image: url('/lionbotlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 70vw;
  height: 70vh;
  margin: auto;
}

.chatBox_logo_div {
  display: flex;
  width: 85vw;
  height: 30vh;
  justify-content:space-between;
  margin: auto;
  margin-top: 20px;
}
.chatBox {
  background-image: url('/chatBox.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vw;
  height: 40vh;
  margin: auto;
}

.chatBox h3 {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  width: 30vw;
  margin-left: 20px;
}

@media screen and (min-width: 650px) {
	main {
		width: 100%;
	}

	ul {
		max-width: 600px;
		justify-content: center;
		margin: 0 auto;
	}

	ul li {
		padding-left: 30px;
		padding-right: 30px;
	}

	.about-body {
		width: 600px;
	}

	.logo-div {
		align-self: flex-start;
		margin-left: 0px;
	}

  .home {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85vw;
  }

  .chatBox_logo_div {
    margin: auto;
    display: flex;
    width: 85vw;
    height: 50vh;
    justify-content: space-around;
    margin-top: 20px;
  }

  #lionbot_logo {
    background-image: url('/lionbotlogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 550px;
    margin: auto;
  }

  .chatBox {
    background-image: url('/chatBox.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 38vw;
    height: 45vh;
  }

  .chatBox h3 {
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    width: 30vw;
    margin-left: 25px;
  }

}

@media screen and (min-width: 990px) {

  .chatBox_logo_div {
    margin: auto;
    display: flex;
    width: 85vw;
    height: 50vh;
    justify-content: space-around;
    margin-top: 20px;
  }

  .chatBox {
    background-image: url('/chatBox.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:500px;
    height: 500px;
  }

  .chatBox h3{
    font-size: 26pt;
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
    width: 30vw;
    margin-left: 45px;
  }

  #lionbot_logo {
    background-image: url('/lionbotlogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 550px;
    margin: auto;
    margin-top: 100px;
  }

  .home ul {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row
  }
}
